<div class="bloque">
    <section>
        <h3>Educacion</h3><button type="button" class="btn btn-primary">Editar</button>
        <ul>
            <li><a heref="https://generalrocacet3.blogspot.com/">Centro de educacion tecnica n3 (Administracion en empresas) cursando 6to año</a></li>
            <li><a href="https://argentinaprograma.inti.gob.ar/">#YoProgramo</a></li>
            <li><a href="https://www.udemy.com/course/python-for-finance-investment-fundamentals-data-analytics/learn/lecture/6780160#overview">Curso de Python orientado a las finanzas | Udemy</a></li>
            <li><a herf="https://www.udemy.com/course/universidad-python-desde-cero-hasta-experto-django-flask-rest-web/learn/lecture/18405330#overview">Curso de Python sobre desarrollo Web | Udemy</a></li>
            <li><a href="https://junior.org.ar/economia/">Economia personal | Junior Achievement</a></li>
            <li><a herf="https://junior.org.ar/planifica/">Planifica tu futuro | Junior Achievement</a></li>
        </ul>
    </section>
    </div>
