<div class="bloque">
    <section>
        <h3>Experiencia laboral</h3>
        <article>
            <h4>Enero 2021 - Actualidad</h4>
            <h4>Nash Inversiones| Asesor en inversiones</h4>
            <ul>
                <li>Portfolio cedears</li>
                <li>Trabajo en conjunto con contador</li>
                <li>Realizar analisis de resultado periodicamente</li>
            </ul>
        </article>
        <article>
            <h4>Abril 2020 - Noviembre 2021</h4>
            <h4>Nash Inversiones| Community Manager</h4>
            <ul>
                <li>Diseño de placas con datos bancarios</li>
                <li>Buscar estrategias de marketing dentro de redes sociales</li>
                <li>Responder mensajes de diversos clientes y derivarlos</li>
                <li>Ordenar datos bancarios en Excel</li>
            </ul>
        </article>
    </section>
    </div>
