<div class="bloque">
    <section>
        <body>
            <h3>Acerca de mi...</h3>
            <h4>Tengo 18 años, actualmente me encuentro cursando el secundario tecnico orientado a la administracion de empresas
            estoy en 5to año y pienso estudiar ingenieria en sistemas en la UTN. He realizado diversos cursos de programacion en lenguaje Python
             Ademas estoy aprendiendo ingles hace 7 años en un instituto y tengo un nivel PET, el año que viene rindo el First.
            </h4>
        </body>
    </section>
    </div>
