<div class="bloque">
    <footer>
        <h3>Contactame...</h3>
        <button type="button" class="btn btn-dark"><a href="https://z-p15.www.instagram.com/carpinterojulian/">instagram</a></button>
        <button type="button" class="btn btn-primary"><a href="https://www.linkedin.com/in/juli%C3%A1n-carpintero-08aba1200/">linkedin</a></button>
    
        <form class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
              <label for="inputMessage" class="form-label">Mensaje</label>
              <input type="text" class="form-control" id="inputMessage">
            </div>
          </form>
    </footer>
    </div>
