<div class="bloque">
    <div class="skills-bar">
        <h3>Hard & Soft skills</h3><button type="button" class="btn btn-primary">Editar</button>
        <div class= "bar">
            <div class="info">
                <span>Liderazgo</span>
            </div>
            <div class="linea-progresiva liderazgo"><span></span></div>
        </div>
        <div class= "bar">
            <div class="info">
                <span>Python</span>
            </div>
            <div class="linea-progresiva python"><span></span></div>
        </div>
        <div class= "bar">
            <div class="info">
                <span>HTML</span>
            </div>
            <div class="linea-progresiva html"><span></span></div>
        </div>
        <div class= "bar">
            <div class="info">
                <span>CSS</span>
            </div>
            <div class="linea-progresiva css"><span></span></div>
        </div>
        <div class= "bar">
            <div class="info">
                <span>Libros diarios y balances</span>
            </div>
            <div class="linea-progresiva libros"><span></span></div>
        </div>
        <div class= "bar">
            <div class="info">
                <span>JavaScript</span>
            </div>
            <div class="linea-progresiva javascript"><span></span></div>
        </div>
        <div class= "bar">
            <div class="info">
                <span>PostgresSQL</span>
            </div>
            <div class="linea-progresiva postgres"><span></span></div>
        </div>
        <div class= "bar">
            <div class="info">
                <span>Ingles</span>
            </div>
            <div class="linea-progresiva ingles"><span></span></div>
        </div>
        <div class= "bar">
            <div class="info">
                <span>Excel</span>
            </div>
            <div class="linea-progresiva excel"><span></span></div>
        </div>
        <div class= "bar">
            <div class="info">
                <span>Ruby</span>
            </div>
            <div class="linea-progresiva ruby"><span></span></div>
        </div>
    
    </div>
    </div>
